* {
  margin: 0px;
}

.mainContainer {
  height: 100vh;
  background-color: #ffffff;
}

.header {
  background-color: #3367d6;
  height: 12%;
  width: 100%;
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: space-around;
  padding: 15px;
  padding-top: 25px;
}

.historyImg {
  height: 25px;
  width: 100px;
}

.searchBarContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 70%;
}

.label {
  height: 70%;
  width: 5%;
  background-color: #2850a7;
  text-align: center;
  border-radius: 5px;
  border-color: #6697ff;
  border-style: solid;
  border-width: 1px;
}

.searchImg {
  height: 34px;
  width: 34px;
}

.inputEl {
  width: 70%;
  height: 70%;
  background-color: #2850a7;
  border-radius: 5px;
  border-color: #6697ff;
  border-style: solid;
  border-width: 1px;
}

.eachHistoryContainer {
  height: 88%;
  padding: 90px;
}

.historyCard {
  list-style-type: none;
}

.result {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  margin-top: 20%;
}
